main {
  min-height: 80vh;
}

.product-img {
  height: 312px;
  width: 250px;
}

h1 {
  font-size: 1.9rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 0.5rem 0;
}
.rating span {
  margin: 0.1rem;
}

.card-title {
  color: #158cba;
}

button.price-display.btn-block.mb-2.btn.btn-primary {
  opacity: 0.9;
  background-color: #000000e3;
  width: 140px;
}

.add-to-cart {
  font-size: 0.9rem;
}

.no-hover {
  pointer-events: none;
  font-size: 0.8rem;
  font-weight: 500;
}

/* Disables paypal button for portfolio*/
#paypal-container {
  pointer-events: none;
}

.order-id-col {
  font-size: 12px;
}

.order-items-container {
  border: 2.5px solid black;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

.hemp-info-row {
  height: 700px;
}

.carousel-hemp-image {
  height: 380px;
  padding: 20px;
  margin: 20px auto 60px auto;
  border-radius: 15%;
}

.carousel-main-caption {
  right: 0%;
  left: 10%;
  margin-right: 15px;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel-caption h5 {
  font-size: 0.8rem;
}

.carousel-product-image {
  height: 380px;
  padding: 20px;
  margin: 20px 40px 60px 40px;
  border-radius: 15%;
}
.carousel a {
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .carousel-hemp-image {
    height: 320px;
  }
  .carousel-main-caption h5 {
    font-size: 0.6rem;
  }
  .carousel-main-caption h3 {
    font-size: 1rem;
    padding: 0;
  }
}

@media (max-width: 780px) {
  .hemp-info-col {
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-main-caption {
    margin-top: -2rem;
  }

  .carousel-main-caption p {
    margin-bottom: 0px;
  }

  .carousel-product-image {
    height: 280px;
  }

  .carousel-caption h4 {
    font-size: 1rem;
  }
}
